/* style navigation bar*/
li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
li a:hover{
    background-color: darkmagenta;
}
button span:hover{
    background-color: darkmagenta;
}
/* style home section*/
#img1 {
    border-radius: 100%;
}
#img1:hover{
    box-shadow: 12px  -12px  darkmagenta;
}
h1 {
     color: darkmagenta
}
#btn1 a:hover {
         background-color: darkmagenta;
}
 #img2{
    border-radius: 8%;
 }

#img2:hover{
    box-shadow: 12px  -12px  darkmagenta;
}
/* style project section*/
#procard:hover{
    transform: scale(1.1);
}
/* style contact section*/
#btn2 button:hover{
    background-color: darkmagenta;
}
form:hover{
    background-color: lightblue;
}